* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navigation */
nav {
  display: flex;
  padding: 1.5rem;
  background: #222;
  color: white;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}



