/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: #222;
  color: white;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}



/* Main Section */
.main {
  background: url('../images/bgImage1.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* Dark overlay */
  z-index: 0;
}

.main h1,
.main .btn-group {
  z-index: 1;
  position: relative;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e0e0;;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #c0c0c0;
}

.icon-large {
  font-size: 80px;
  margin: 10px 0;
}

