/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
/******************************************
/* LAYOUT
/*******************************************/

header{
display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  margin: -9px;
  padding: 0px 25px;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}


main{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
#mainSentence{
  text-align: center;
  font-size:40px;
  margin-top: -6px;
}
#googleMapsBox{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
#currentLocation{
font-size: 40px;
margin-top: 60px;
text-align: center
}
iframe{
  height: 400px;
  width: 80%;
}
#viewScheduleButton{
    padding: 26px;
    font-size: 20px;
    background-color: black;
    border: none;
    color: #0859d1;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    align-self: center;
}
#viewScheduleButton a:hover{
  color: rgb(66, 128, 168);
}
#viewScheduleButton a{
  color: rgb(243, 243, 243);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width : 430px ) {
 nav  {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 360px;

  }
  nav *{
  margin: 20px 0 0 0;

  }
  #logoAndTitle{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  }
  #logo{


  }
  #title{
  font-size: 50px;
  }
  #bar{
  gap: 20px;
  }
  #bar a{
  font-size: 24px;
  margin-right: 11px;
  order: 1;
  }
  #bar a:hover{
  color: aqua;
  }
  #mainSentence{
  font-size: 20px;
  margin-top: 50px;
  }
  h1{ 
  width: 332px;
  margin-top: 70px;
  margin-left: -17px;
  }
  #currentLocation{

  }
  iframe{
  width: 238px;
  height: 222px;
    
  }
  #googleMapsBox{
   width: 273px;
  }
  #viewScheduleButton{
  width: 193px;
  margin-top: 40px;
  }





}
