.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e0e0;;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #c0c0c0;
}

.icon-large {
  font-size: 80px;
  margin: 10px 0;
}

