
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Can't seem to get the Sriracha import working from the main.css so using this as a fallback for now*/
body {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: #242943;
  color: #333;
}

/* Main */
.aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.aboutUs > h2 {
  margin-top: 15rem;
}

.container {
    width: 100%;
    display: flex;
    margin-top: 10rem;
}

.container img {
    width: 300px;
    background-repeat: no-repeat;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Contact Section */
footer {
  margin: 5rem, 10rem;
  display: flex;
  align-content: center;
}

/* iconList */
ul.iconList {
	cursor: default;
	list-style: none;
	padding-left: 5rem;
}

ul.iconList li {
	display: inline-block;
	padding: 2rem;
}

ul.iconList li:first-child {
  padding-left: 1rem;
}

ul.iconList li:last-child {
	padding-right: 0;
}

@media screen and (max-width: 736px) {

	ul.icons li {
		padding: 0 0.75rem 0 0;
	}

}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon > .label {
	display: none;
}

.icon:before {
	line-height: inherit;
}

.icon.solid:before {
	font-weight: 900;
}

.icon.alt:before {
	background-color: #ffffff;
	border-radius: 100%;
	color: #242943;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	width: 2rem;
}

li.icon.alt:before {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

li.icon.alt:hover:before {
	background-color: #6fc3df;
}

li.icon.alt:active:before {
	background-color: #37a6cb;
}