/******************************************
/* CSS
/*******************************************/
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/sriracha@latest/latin-400-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/sriracha@latest/latin-400-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Box Model Hack */
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
/******************************************
/* LAYOUT
/*******************************************/

header{
display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  margin: -9px;
  padding: 0px 25px;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
#logo{
  object-fit: cover;
  width: 130px;
  height: 80px;
}

main{
  display: flex;
  flex-flow: column;
  align-items: center;
}
#mainSentence {
  background-image: url(../images/bgImage1.jpg);
  background-size: cover;          
  background-repeat: no-repeat;
  background-position: center;    

  width: 100vw;                  
  height: 400px;                  
  text-align: center;
  font-size: 40px;
  margin-top: -6px;

  color:#ef8f00;                    
  display: flex;
  align-items: center;
  justify-content: center;
}


#googleMapsBox{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
#currentLocation{
font-size: 40px;
margin-top: 60px;
text-align: center;
color: green ;
}
iframe{
  height: 400px;
  width: 80%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/  