/* Main Section */
main {
  background: url('../images/bgImage1.jpg') no-repeat center center/cover;
  height: 100svh;
  display: grid;
  place-items: start center;
  text-align: center;
  color: var(--white);
  position: relative;
  border-image: fill 0 linear-gradient(transparent, transparent, black 90%);
  padding: 50px 20px 0;
  color: hsl(0deg 0% 95%  / 0%);
}
main h1 {
  margin-bottom: 1rem;
  font-family: 'Yellowtail', cursive;
  font-weight: 400;
  font-size: clamp(3.5rem, 12vw, 7rem);
  text-wrap-style: balance;
  font-style: normal;
  position: relative;
  margin-block-start: 50px;
}
main h1::before {
  content: "Where Are We Today ?";
  position: absolute;
  inset: 0;
  color: var(--white);
  filter: drop-shadow(5px 5px 2px #000);
  -webkit-text-stroke: 2px var(--white);
}

/* Google Maps Section */
#googleMapsBox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

#currentLocation {
  font-size: 32px;
  margin-top: 40px;
  text-align: center;
  color: var(--green);
}

iframe {
  height: 300px;
  width: 90%;
  max-width: 800px;
  border: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    align-items: flex-start;
  }

  #menuToggle {
    display: block;
    margin: 10px 0;
  }

  #bar {
    flex-direction: column;
    background: #222;
    width: 100%;
    display: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
  }

  #bar.active {
    display: flex;
  }

  #bar li {
    width: 100%;
    padding: 15px 25px;
  }

  iframe {
    height: 250px;
  }
}

@media (min-width: 1024px) {
  main h1 {
    max-width: 70vw;
    font-size: clamp(3.5rem, 10vw, 7rem);
  }

  #currentLocation {
    font-size: 40px;
  }

  iframe {
    height: 400px;
  }
} 