/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

header{

display: flex;

justify-content: center;
}
nav{
  
  height: 369px;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-around;
  align-items:center;
}
#logoAndTitle{
  display: flex;
  align-items:center ;
  margin-left: 68px;
}
#logo{
  width: 130px;
  height: 100px;
  transform: scaleX(-1);
}
#title{
font: 70px solid ;
margin-left: 10px;
}
#bar{
  width: 100%;
  display: flex;
  gap: 100px;
  list-style: none;
  align-items: center;
}
nav a{
  color: black;
  font-size: 30px;
}
nav a:hover{
  color: blueviolet;
}
main{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
#mainSentence{
  text-align: center;
  font-size:40px;
  margin-top: -6px;
}
#googleMapsBox{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
#currentLocation{
font-size: 40px;
margin-top: 60px;
text-align: center
}
iframe{
  height: 400px;
  width: 80%;
}
#viewScheduleButton{
    padding: 26px;
    font-size: 20px;
    background-color: black;
    border: none;
    color: #0859d1;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    align-self: center;
}
#viewScheduleButton a:hover{
  color: rgb(66, 128, 168);
}
#viewScheduleButton a{
  color: rgb(243, 243, 243);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width : 430px ) {
 nav  {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 360px;

  }
  nav *{
  margin: 20px 0 0 0;

  }
  #logoAndTitle{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  }
  #logo{


  }
  #title{
  font-size: 50px;
  }
  #bar{
  gap: 20px;
  }
  #bar a{
  font-size: 24px;
  margin-right: 11px;
  order: 1;
  }
  #bar a:hover{
  color: aqua;
  }
  #mainSentence{
  font-size: 20px;
  margin-top: 50px;
  }
  h1{ 
  width: 332px;
  margin-top: 70px;
  margin-left: -17px;
  }
  #currentLocation{

  }
  iframe{
  width: 238px;
  height: 222px;
    
  }
  #googleMapsBox{
   width: 273px;
  }
  #viewScheduleButton{
  width: 193px;
  margin-top: 40px;
  }





}